/* Copyright sloraris */

/* Fonts - Exo 2 and Ubuntu */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Core CSS */
@import "core/colors.css";
@import "core/nav.css";
@import "core/fonts.css";
@import "core/splash.css";

/* Global */
:root {
    --font: 2rem;
}

/* Nav */
nav .row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

/* Main body */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    padding: 5rem;
    background-color: var(--background);
    background-blend-mode: color;
    margin: 0;
}

h1 h2 h3 h4 h5 h6 {
    font-family: 'Exo 2';
}